@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

body {
    background: #141414;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container, .register-container {
    background: #222;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
}

.login-container input, .register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
    outline: none;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.login-container button:hover, .register-container button:hover {
    background: darkred;
}

.login-container p, .register-container p {
    color: white;
    font-size: 14px;
}

.login-container p a, .register-container p a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.hidden {
    display: none;
}
